<launch>

    <arg name="dev" default="/dev/input/js0"/>
    <arg name="joy_type" default="$(optenv QUAD_JS_PS4 1)"/>

    <group ns="joystick">
        <group if="$(arg joy_type)">
            <rosparam command="load" file="$(find quadnake_control)/param/PS4.yaml"/>
        </group>

        <group unless="$(arg joy_type)">
            <!-- DO SOMETHING ELSE-->
        </group>

        <node pkg="joy" type="joy_node" name="joy_node"/>
    </group>

</launch>