<launch>

<arg name="dev" default="/dev/input/js0"/>
<arg name="joy_type" default="$(optenv QUAD_JS_PS4 1)"/>

    <group ns="joystick">
        <group if="$(arg joy_type)">
            <rosparam command="load" file="$(find quadnake_base)/param/PS4.yaml"/>
        </group>

        <group unless="$(arg joy_type)">
            <!-- DO SOMETHING ELSE-->
        </group>

        <node pkg="joy" type="joy_node" name="joy_node"/>
    </group>

    <group ns="message_sender">
        <node pkg="quadnake_base" type="simple_receiver" name="simple_receiver"/>
    </group>

    <group ns="quadnake_hardware">
        <node pkg="rosserial_arduino" type="serial_node.py" name="quadnake_arduino">
        <param name="~port"  type="string"   value="/dev/ttyACM0"/>
        <param name="~baud"  type="int"   value="115200"/>
        </node>
    </group>

</launch>